// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'rwd_setting';

@import "lshop/basic_layout";

@import "lshop/product/product-show";

.card-body {
  padding-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;

  .products-page {
    align-self: flex-end;
  }
}

.products-index-page,.products-favorites-page {
  .product-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid #eee;
    padding: 4px;
  }
  .products-list-header-item {
    width: 100%;
    flex: 1;
  }

  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .product-item {
      //電腦版
      @include pc-width{
        width: 25%;
        height: 25%;
      }
      //平板
      @include pad-width{
        width: 33%;
        height: 30%;
      }
      //小平板
      @include small-pad-width{
        width: 40%;
        height: 35%;
      }
      //手機
      @include phone-width{
        width: 50%;
        height: 40%;
      }
      padding: 5px;
      margin-bottom: 10px;
      border: 0;
      .product-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: 0;
        &:hover{
          border: 1px solid #eee;
        }
        .product-img {
          height: 200px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .price {
          height: 10%;
          margin-top: 5px;
          font-size: 15px;
          color: #000000;
          b {
            font-size: 14px;
          }
        }
        .title {
          margin-top: 10px;
          height: 10%;
          line-height: 12px;
          max-height: 32px;
          a {
            font-size: 15px;
            line-height: 14px;
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}
